<div class="container my-4">
    <h1>Welcome, {{user.firstName}} {{user.lastName}}!</h1>
    <p>This is your backend management dashboard.</p>
</div>

<div class="container my-3">
    <a href="/backend/users" class="btn btn-primary">Users</a>
    <a href="/backend/appointments" class="btn btn-secondary">Appointments</a>
</div>
