<div class="container-fluid">
    <header class="superheader">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <img src="/Assets/images/icono-title.png" class="efecto1" alt="icono flor" width="40">
            <h1 class="fw-light">{{title}}</h1>
            <p class="lead">Interested in becoming a client?</p>
            <p class="lead">All we need is…</p>
          </div>
        </div>
      </div>
    </header>
</div>
