<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <!-- CSS Section -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="Content/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/home">
            <img src="/Assets/images/logo.webp" alt="MRVH" height="100px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 p-4">
        <li class="nav-item">
          <a href="/become-a-client" class="btn btn-outline-primary me-2" role="button">Become a Client</a>
        </li>
        <li class="nav-item">
          <a href="/request-appointment" class="btn btn-outline-secondary me-2" role="button">Request Appointment</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    {{{body}}}
<footer class="text-start text-lg-start colorprimario text-white">
  <div class="container pt-5 pb-2">
    <div class="row">
      <!-- Col 1 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="d-flex align-items-start">
          <i class="fa-solid fa-phone fa-lg me-2"></i>
          <div>
            <h5 class="text-uppercase mb-0">Call us</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="tel:7056877387" class="text-white">705-687-PETS (7387)</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Col 2 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="d-flex align-items-start">
          <i class="fa-solid fa-location-dot fa-lg me-2"></i>
          <div>
            <h5 class="text-uppercase mb-0">Location</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="https://www.google.com/maps/place/Muskoka+Road+Veterinary+Hospital/@44.917619,-79.3734,16z/data=!4m6!3m5!1s0x4d2a9b77cfb49dd9:0x6fd5eb38a7340d93!8m2!3d44.917619!4d-79.3734!16s%2Fg%2F11ld2d012p?hl=en-CA&entry=ttu" class="text-white">365 Muskoka Road South Gravenhurst ON, P1P 1J4, Canada</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Col 3 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="d-flex align-items-start">
          <i class="fa-solid fa-envelope fa-lg me-2"></i>
          <div>
            <h5 class="text-uppercase mb-0">Email us</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="mailto:info@muskokaroadvet.com" class="text-white">info@muskokaroadvet.com</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Col 4 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="d-flex align-items-start">
          <i class="fa-solid fa-clock fa-lg me-2"></i>
          <div>
            <h5 class="text-uppercase mb-0">Hours</h5>
            <ul class="list-unstyled mb-0">
              <li>Monday - Friday 8:00am - 5:00pm</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>   
   <hr>

  <!-- Copyright -->
  <div class="text-center p-1">
    <p>© Copyright Muskoka Road Veterinary Hospital |
    <a class="text-white" href="https://danielabustos.com/">Designed by DBA</a></p>
  </div>
</footer>


    <!-- Script Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
