/* Custom CSS Goes Here */



p {
  margin-top: 0;
  margin-bottom: 0px;
}

/* Container sin borde - gutter */
.container-fluid {
  --bs-gutter-x: none !important;
}

/* Botones outline*/
.btn-outline-primary {
    --bs-btn-color: #58695d;
    --bs-btn-border-color: #58695d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #58695d;
    --bs-btn-hover-border-color: #58695d;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #58695d;
    --bs-btn-active-border-color: #58695d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #58695d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #58695d;
    --bs-gradient: none;
}

.btn-outline-secondary {
    --bs-btn-color: #cdb17d;
    --bs-btn-border-color: #cdb17d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cdb17d;
    --bs-btn-hover-border-color: #cdb17d;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cdb17d;
    --bs-btn-active-border-color: #cdb17d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #cdb17d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #cdb17d;
    --bs-gradient: none;
}

/*Quitar underline*/
footer a, .footer a {
  text-decoration: none;
  font-size: 14px;
}

footer h5 {
  font-size: 16px;
}

footer p {
  font-size: 14px;
}

/* FUENTES */
body {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
  
p, ul, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.subtitulo {
  font-size: 24px;
}
  
/*COLORES PRIMARIOS*/
.colorprimario {
    background-color: #656f66;
}

.colorsecundario {
    background-color: #c6a56a;
}

/*ICONOS FOOTER*/
footer .fa-solid {
  font-weight: 900;
  background-color: #727c75;
  padding: 20px;
  border-radius: 20px;
  color: #cdb17d;
}

/*HEAD*/
.superheader {
  height: 50vh;
  min-height: 200px;
  background-color: #f0e7d4;
  background-position: center;
  background-repeat: no-repeat;
}

